@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';



body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
//   background-color: #056571;
background-color: grey;
}

.navbar {
    background-color: transparent;
    color: white;
}

.nav-item-heath {
    color: white;
    font-size: 23px;
    border-right: solid white 3px;
}

.nav-item-heath:hover {
    color:white;
    text-decoration: none;
}

.navbar-toggler-icon {
    color:white !important;
}

#navHamburger {
    font-size: 40px;
}

.fadeOutBackground {
    background-color: transparent;
    transition-duration: .6s;
}

.fadeInBackground {
    background-color: black;
    transition-duration: .6s;
}

.jumbotron {
    background-color: transparent;
    // background: rgba(29, 30, 31, .3);
    color: white;
    font-weight: 500;
    .lead {
        font-size: 85px;
    }
}



// nav {
//     display: flex;
//     border: solid 1px black;
//     background-color: none;
//     justify-content: space-between;
//     position: sticky;
//     top: 0;
//     z-index: 1;
//     color: #056571;
// }

// nav h1 {
//     padding-left: 10px;
//     font-weight: 300;
//     font-family: 'Work Sans', sans-serif;
// }

ul {
    display: flex;
    width: 35%;
    justify-content: space-between;
    list-style-type: none;
    font-size: 22px;
    padding-right: 15px;
    font-weight: 300;
}

ul li:hover {
    cursor: pointer;
}

#aboutMeContainer {
    background-color: white;
}

#aboutMeBio {
    background-color: transparent;
    font-size: 28px;
    border: none;
    color: black
}


#aboutMeBioContainer {
    display: flex;
    align-items: center;
}

#aboutImageDiv {
    align-items: center;
    justify-content: center;
}

#bioPageContainer {
display: flex;
justify-content: flex-start;
align-items: center;
height: 100vh !important;   
background-color: #7e7979;
// background-image: url(../../images/heath_asb.jpg);
background-image: linear-gradient(240deg,rgba(12, 11, 11, 0.100), rgba(26, 20, 20, .900)), url(../../images//heath_asb.jpg);
background-attachment: fixed;
background-size: cover;
background-position: center;
opacity: .9;
background-repeat: no-repeat;
}

#bioPage {
    width: 50%;
    color: white;
}

.icon-bar {
    position: fixed;
    top: 98px;
    right: -425px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    justify-content: space-between;
    height: 150px;
    width: 470px;
    z-index: 1;
}

.icon-bar p {
    display: flex;
    justify-content: center;
    font-size: 22px;
    width: 90%;
}

.icon-bar:hover {
    right: 0px;
}

//   .linkedin {
//     border: solid 1px black;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     text-decoration: none;
//     background: #007bb5;
//     color: white;
//     height: 33%;
//     font-size: 25px;
//   }

//   .linkedin i {
//       display: flex;
//       justify-content: center;
//       width: 10%;
//       border-right: solid 1px white;
//   }

  .linkedin {
    color:white;
    font-size: 45px;
    transition-duration: .1s;
  }

  .linkedin:hover {
      color:white;
      transform: scale(1.2);
      transition-duration: .1s;
  }

  
//   .github {
//     border: solid 1px black;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     text-decoration: none;
//     background:black;
//     color: azure;
//     height: 33%;
//     font-size: 25px;
//   }

//   .github i {
//       display: flex;
//       justify-content: center;
//       width: 10%;
//       border-right: solid 1px white;
//   }


  .github {
    color: white;
    font-size: 45px;
    transition-duration: .1s;
  }

  .github:hover {
      color: white;
      transform: scale(1.2);
      transition-duration: .1s;
  }

//   .gmail {
//     border: solid 1px black;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     text-decoration: none;
//     background:#d64a3a;
//     color: white;
//     height: 33%;
//     font-size: 25px;
//   }

//   .gmail i {
//     display: flex;
//     justify-content: center;
//     width: 10%;
//     border-right: solid 1px white;
//   }

  .gmail {
    color: white;
    font-size: 45px;
    transition-duration: .1s;
  }

  .gmail:hover {
      color:white;
      transform: scale(1.2);
      transition-duration: .1s;
  }

  #aboutMeContainer {
    //   background-color: rgb(200,82,111);
    //   background-color: rgb(80,175,207);
    background-color: white;
    color:black;
    background-image: url(../../images/coolio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    // background-position-x: 75%;
  }

  #technologiesContainer {
    height: auto;
    display: flex;
    justify-content: center;
    background: linear-gradient(200deg, white, silver, silver, white);
    // background: rgba(228, 226, 225, 0.267);
    padding: 15px;
  }


  #technologiesPage {
    width: 80%;
    height: 85%;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    align-items: center;
    // font-size: 55px;
  }

  #technologiesHeader {
    font-size: 50px;
    text-align: center;
    padding: 3px;
    color:black;
    border-bottom: 5px solid;
    border-image-source: linear-gradient(125deg, black, transparent);
    border-image-slice: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
   


  #technologiesPage img {
    height: 150px;
  }

  #badges {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  
/* #navLinks {
    display: flex;
    justify-content: ;
    list-style-type: none;
    border: solid 1px black;
    background-color: cadetblue;
    color: azure;
    font-size: 22px;
    font-weight: 300;
    padding-right: 15px; 
} */

/* #navContainer {
    display: flex;
    width: 50%;
    border: solid 1px black;
}  */

/* #navItems {
    display: flex;
} */


#projectsPage {
    background-color: rgb(80,175,207);
}

.project_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px black;
    background-color: azure;
    padding: 8px;
    margin-bottom: 20px;
    transform: scale(1);
    transition-duration: .3s;
    border-radius: 50px;
}

.project_cards:nth-child(even):hover{
    transform: scale(1.05);
    transition-duration: .3s;
    background-color:  #FF6A5C;
    color: white;
}

.project_cards:nth-child(odd):hover{
    transform: scale(1.05);
    transition-duration: .3s;
    background-color: #FF6A5C ;
    color: white;
}

.project_cards h2 {
    text-align: center;
}

.project_cards p {
    text-align: center;
}

.project_cards a {
    color: black;
}

.page-footer {
    text-align: center;
}

footer {
    background-color: white;
    font-size: 18px;
    color:#056571;
    height: 40px;
    padding-top: 14px;
}

.techIcons {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.techIcons img {
    // font-size: 150px;
    // transition-duration: .2s;
    // color: black;
    // color:black;
    // background-color: transparent;
    // border-radius: 25%;
    transition-duration: .1s;
}

.techIcons img:hover {
    transform: scale(1.15);
    transform: translateY(-20px);
    transition-duration: .1s;
}

.hide {
    display: none !important;
}

#htmlLogo {
    color:black;
    transition-duration: .2s;
}

#htmlLogo:hover {
    color: rgb(228,77,45);
    transform: scale(1.10);
    transition-duration: .2s;
}

#cssLogo {
    color:black;
    transition-duration: .2s;
}

#cssLogo:hover {
    color: rgb(56,157,215);
    transform: scale(1.10);
    transition-duration: .2s;
}

#javascriptLogo {
    color:black;
    transition-duration: .2s;
}

#javascriptLogo:hover {
    color: rgb(223, 206, 82);
    transform: scale(1.10);
    transition-duration: .2s;
}

.hideMe {
    opacity: 0;
}

// .fadeIn {
//     opacity: 1;
//     transition-duration: .25s;
// }

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: rgb(216, 220, 221);
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 10%;
    right: 10%;
  }


.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


/* color scheme */
.matte {background-color: #7e7979}
.fresh {background-color: #CCDFCB}
.watermelon {background-color: #FF6A5C}
.teal {background-color: #056571}